.GLSFloaterContainer {
    font-size: 14px;
    font-weight: 300;
    padding: 0.75vh;
    z-index: 999;
}

.GLSFloaterSlideUp {
    position: absolute;
    top: -10px;
    height: 0;
    width: 100%;
    transition: .5s ease-in-out;
    background:rgba(34, 34, 34, 0.80);
    border-radius:12px;
    box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
    bottom:5vh;
    left:50%;
    transform: translateX(-50%);
}
.GLSFloaterSlideUpAfter  {
    padding:1vh;
    top:-150px;
    height: 150px;
}

.activeTab {
    background-color: #fff;
    color:#000 !important;
    font-weight: 600;
    transition: 0.3s ease-in;
}

